@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');
* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}

.box-body {

}

.quote-text {
  font-size: 22px;
}

.author-text {
  font-size:12px;
}

.buttons {

}

.fas fa-mouse {

}

.fab fa-twitter {

}