@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');
* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  position: relative;
  z-index: 2;
}
.box-body {
  border-radius: 3px;
  position: relative;
  /* width: 450px; */
  padding: 40px 50px;
  /* display: table; */
  background-color:oldlace;
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.quote-text {
  text-align: center;
  width: 450px;
  height: auto;
  clear: both;
  font-weight: 500;
  font-size: 1.75em;
}

.author-text {
  width: 450px;
  height: auto;
  clear: both;
  padding-top: 10px;
  margin-bottom: 30px;
  font-size: 1em;
  text-align: right;
}

.buttons {
  width: 450px;
  margin: auto;
  display: inline-block;
  cursor: pointer;
}


button.add-quote {
  float: right;
  height: 38px;
  border: none;
  border-radius: 3px;
  font-weight: 400;
  color: black;
  background-color: rgb(89, 66, 173);
  outline: none;
  font-size: 0.87em;
  padding: 8px 18px 8px 18px;
  margin-top: 2px;
  opacity: 1;
  cursor: pointer;
  text-shadow: 1px 1px 0 #ddd, -1px 1px 0 #ddd, 1px -1px 0 #ddd, -1px -1px 0 #ddd;
}

button.twitter-btn, button.tumblr-btn {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  transform: translate(0, 0);
  float: left;
  padding: 0px;
  padding-bottom: 10px;
  padding-top: 8px;
  text-align: center;
  font-size: 1.2em;
  margin-top: 2px;
  margin-right: 5px;
  margin-bottom: 10px;
  height: 40px;
  width: 40px;
  color: black;
  border-radius: 4px;
  background-color: whitesmoke;
  text-shadow: 1px 1px 0 #ddd, -1px 1px 0 #ddd, 1px -1px 0 #ddd, -1px -1px 0 #ddd;
}

.fa-tumblr path {
  stroke: white;
  stroke-width: 10%;
}

.fa-twitter {
  stroke: white;
  stroke-width: 6%;
}
